html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-transform: capitalize;
}

section {
  width: 500px;
  height: 520px;
  border: 2px double black;
}

.palette {
  width: 450px;
  height: 150px;
  margin: auto;
}

ul {
  list-style-type: none; /* list item marker is none */
  display: flex;
  justify-content: center;
  padding: 15px 20px;

}

li {
  width: 100px;
  height: 120px;
  border: 1px dotted black;
  text-align: center;
  line-height: 2px;
}

.color-info {
  padding-top: 70px;
}

.up {
  padding-bottom: 38px;
  margin-top: -17.9px;
}

.up-up {
  padding-bottom: 65px;
  margin-top: -35.9px;
}

.white-font {
  color: white;
}

#amber {
  background-color: #FFBE0B;
}
#orange {
  background-color: #FB5607;
}
#rose {
  background-color: #FF006E;
}
#blue-violet {
  background-color: #8338EC;
}
#azure {
  background-color: #3A86FF;
}
#verdigris {
  background-color: #75B9BE;
}
#light-blue {
  background-color: #A8CCC9;
}
#ash-gray {
  background-color: #b3d6c6;
}
#tea-green {
  background-color: #dceab2;
}
#straw {
  background-color: #c7d66d;
}
#melon {
  background-color: #ffb5a7;
}
#pale-dogwood {
  background-color: #fcd5ce;
}
#seashell {
  background-color: #f8edeb;
}
#champagne-pink {
  background-color: #f9dcc4;
}
#peach {
  background-color: #fec89a;
}
#picton-blue {
  background-color: #00a6fb;
}
#steel-blue {
  background-color: #0582ca;
}
#lapis-lazuli {
  background-color: #006494;
}
#prussian-blue {
  background-color: #003554;
}
#rich-black {
  background-color: #051923;
}
#misty-rose {
  background-color: #ffe5ec;
}
#pink {
  background-color: #ffc2d1;
}
#cherry-blossom-pink {
  background-color: #FFB3c6;
}
#baker-miller-pink {
  background-color: #ff8fab;
}
#rose-pompadour {
  background-color: #fb6f92;
}
